.title {
  width: 50%;
  text-align: center;
  font-size: 5em;
  margin: 12% 25% 3%;
}

input[type=text]{
  text-align: center;
  font-size: 2em;
  width: 72%;
  margin: 3% 0% 5% 15%;
  padding: 3%;
}

button {
  font-size: 1.5em;
  margin: 3% 2% 0% 2%;
  padding: 1% 2% 3% 2%;
}

.mainVid {
  float: left;
  width: 50vw;
  height: 37.5vw;
}

img {
  width: 15vw;
  margin-left: 4%;
  margin-bottom: 2%;
}

.description {
  margin-top: 6vw;
}

.channel{
  font-weight: bold;
}

.videoTitle{
  font-weight: bolder;
  font-size: 2em;
}
